body {
	background-color: navajowhite;
}
.content {
		
		font-size: 30px;
		
}
#content1 {
	width: 100px;
	height: 100px;
	margin: 50px;
	padding: 100px;
	display:inline;
		 
	background-color: deepskyblue;
		 
	border-radius: 10px;
	text-align: center;
	position: absolute;
	left: 10%;
	top: 20%;
	text-decoration: none;
}

#content2 {
	width: 100px;
	height: 100px;
	margin: 50px;
	padding: 100px;
	display:inline;
		 
	background-color: deepskyblue;
		 
	border-radius: 10px;
	text-align: center;
	position: absolute;
	left: 40%;
	top: 20%;
	text-decoration: none;
}
#content3 {
	width: 100px;
	height: 100px;
	margin: 50px;
	padding: 100px;
	display:inline;
		 
	background-color: deepskyblue;
		 
	border-radius: 10px;
	text-align: center;
	position: absolute;
	left: 70%;
	top: 20%;
	text-decoration: none;
}
 a {
			 text-decoration: none;
}