<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
     <!--开启注解扫描 只扫描Dao、Service包，不扫描controller包-->
    <context:component-scan base-package="com.Faris">
        <!--过滤不需要扫描的-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--spring整合mybatis,整合后便不需要SqlMapConfig.xml文件，可以删除-->
    <!--1、配置连接池-->
    <!--2、配置SqlsessioonFaction工厂-->
    <!--3、配置Account接口-->

    <!--1、配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql:///daoshizhi?useSSL=false"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <!--2、配置SqlsessioonFaction工厂-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/><!--引入连接池-->
    </bean>
    <!--3、配置Account接口所在的包-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.Faris.Dao"></property>
    </bean>

    <!--配置spring框架声明式事务管理-->
    <!--1、配置事务管理器-->
    <!--2、配置事务通知-->
    <!--3、配置AOP增强-->

    <!--1、配置事务管理器-->
    <bean  id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>  <!--传入连接池-->
    </bean>

    <!--2、配置事务通知-->
    <tx:advice id="txAdvicce" transaction-manager="transactionManager"><!--引入事务管理器-->
        <tx:attributes>
            <tx:method name="find*"/>
            <tx:method name="*" isolation="DEFAULT"/>
        </tx:attributes>
    </tx:advice>

    <!--3、配置AOP增强-->
    <aop:config>
        <aop:advisor advice-ref="txAdvicce" pointcut="execution(* com.Faris.Service.Impl.*ServiceImpl.*(..))"/><!--引入事务通知-->
    </aop:config>

</beans>